.News {
    border: 1px solid black;
    width: 70%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    margin: 5px;
    word-wrap: break-word;
    .title {
        width: 80%;
        // border: 1px solid green;
    }
    &:hover {
        background-color: rgb(207, 207, 207);
    }
}
